body{
  background-color: #0c3640;
}

.jumbotron-header{
  margin: 0 0 0 20%;
  width: 100%;
  background-color: #f8f6f1;

}
.jumbotron {
  border-radius: 0px;
}
.fa-search,
.fa-file,
.fa-phone {
  color: #0c3640;
}
.title-big h3{
  font-size: 55px;
}
 .description-p{
  font-size: 23px;
}

hr {
    height: 4px;
    border: 0;
    background-color: #fc825e;
    transform: translate(130px,0px);
}
